node_modules
.next
out
.env
.env.*
.DS_Store

/_next/
/404/
/_not-found/
/importar-carro/
/importar-de/
/legalizacao/
/legalizacao-automovel/
/outros/
/pedido-de-coc/
/politica-de-privacidade/
/servicos-imt/
/simulador-isv/
/termos-e-condicoes/
/*.html
/*.txt
/robots.txt
/sitemap.xml
/.htaccess
/send-mail.php
*.zip
